DEMO_USER_HOGAR_NAME=Usuario Hogar
DEMO_USER_HOGAR_EMAIL=hogar_user@tador.tel
DEMO_USER_HOGAR_PASSWORD=demoPass11!
DEMO_USER_HOGAR_MODE=hogar

DEMO_USER_PRO_NAME=Usuario Pro
DEMO_USER_PRO_EMAIL=pro_user@tador.tel
DEMO_USER_PRO_PASSWORD=demoPass11!
DEMO_USER_PRO_MODE=pro